# Requirements file for project dependencies
# Install by running: pip install -r requirements.txt


### Compute
numpy
pandas
scipy

### Vision
scikit-image
matplotlib
streamlit
opencv-python

### Database
pgvector
#psycopg2
pinecone-client

### Modeling
scikit-learn
#keras
tensorflow
torch
torchvision

### Ops
dvc
mlflow
fastapi
pytest

### Cloud
boto3

### Others
python-box
python-dotenv
pyyaml
